.node rect {
    fill: lightgray; /* Set the fill color */
    stroke: black;   /* Set the border color */
    stroke-width: 1.5px; /* Set the border thickness */
    transition-duration: 0.1s;
  }

text {
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
  }

.node:hover rect{
    fill: #ffffff;
    stroke: #90d5ff;
    stroke-width: 3px;
}

.edgePath path {
      stroke: #b4b0b0;
      stroke-width: 2px;
      fill: #b4b0b0;
}

#main-container {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    display: flex;
    height: 100vh;
    overflow: scroll;
}
#graph-container {
    flex: content;
    position: relative;
    overflow: auto;
    background: #f8f9fa;
    height: 100%;
    width: 100lh;
}

#sidebar {
    width: 300px;
    padding: 20px;
    background: white;
    border-left: 1px solid #dee2e6;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000; 
}