#login-container {
	position: fixed;
	width:25%;
	height:50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

#login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 16px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

h2 {
	font-family: Tahoma;
}

#login-form input {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: auto;
	height:50px;
	font-size: larger;
}

#login-form button {
	padding: 10px;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	height:50px;
	font-size: larger;
}

#login-form button:hover {
	background: #0056b3;
	width: auto;
}

#login-message {
	text-align: center;
	margin-top: 10px;
}
