.navbar {
    background-color: rgb(189, 188, 188);
    font-size: small;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    float:left;
    width:100%;
}

.navbar input[type=text] {
  display:flex;
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: rgb(189, 188, 188);
  font-size:30px;
  text-decoration: underline;

}

.navbar input[type=text]:hover {

  color: rgb(189, 188, 188);

}

.navbar button{
  background-color:white;
  display:flex;
  float:left;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-size:30px;
}

.navbar button:hover{
  background-color:rgb(189, 188, 188);
  color: black;
}

.navbar #loginBtn{
  float:right;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  font-size:30px;
}

.navbar #loginBtn:hover{
  color:rgb(189, 188, 188);
  color: black;
}

.navbar #message{
  font-family: Tahoma;
  font-weight: 400;
}
body {
    margin: 0; /* Remove default body margin */
    padding-top: 60px; /* Add padding to avoid content being hidden under the navbar */
}
